@import "tailwindcss";

@theme {
  --font-heading: "Judson", serif;
  --font-body: "Ibarra Real Nova", sans-serif;
  --color-primary: #96472d;
  --color-secondary: #05152a;
  --color-accent: #b38c5e;
  --color-background: #f6f3ef;
  --color-footer-background: #e4e2dd;
  --color-surface: #ffffff;
  --color-border: #d9d1c7;
  --color-text: #000000;
  --color-text-secondary: #858484;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
html,
body,
#root {
  min-height: 100%;
  font-family: var(--font-body);
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
